@*@model IEnumerable<SimplyDeliciousBarEvents.Models.EventViewModel>*@

@{
    ViewData["Title"] = "Events";

    string[] columns = new string[] {
         "Client", "Client Contact Number","Location", "Date", "Time", "Cost", "Head Count", "Employee"
    };
}

<h1>Events</h1>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<table class="table">
    <thead>
        <tr>
            @{
                foreach (var column in columns)
                {
                    <th>
                        @column
                    </th>
                }
            }
        </tr>
    </thead>
    @{
        if (Model != null)
        {
            foreach (var eventSheet in Model)
            { 
        <tr>
            <td>
                @eventSheet.Client
            </td>
            <td>
                @eventSheet.ClientContactNumber
            </td>
            <td>
                @eventSheet.Location
            </td>
            <td>
                @eventSheet.EventDate
            </td>
            <td>
                @eventSheet.EventTime
            </td>
            <td>
                @eventSheet.EventCost
            </td>
            <td>
                @eventSheet.HeadCount
            </td>
            <td>
                @eventSheet.Employee
            </td>

        </tr>
            }
            
        }
     }
    <tbody>
       
    </tbody>
</table>
