
@{
    ViewData["Title"] = "Details";
}

<h1>Event Sheet</h1>

<div>
    <hr />


    <h3>Client Details</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Client Name
                </th>
                <th>
                    Contact Number
                </th>
                <th>
                    Email
                </th>                
            </tr>
        </thead>
        <tbody>
            @{
                <tr>
                    <td>
                        @Model.Rows[0].ItemArray[4].ToString();
                    </td>
                    <td>
                        @Model.Rows[0].ItemArray[5].ToString();
                    </td>
                    <td>
                        @Model.Rows[0].ItemArray[6].ToString();
                    </td>
                </tr>                
            }
        </tbody>
    </table>

    <h3>Event Details</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Location
                </th>
                <th>
                    Event Date
                </th>
                <th>
                    Event Time
                </th>
                <th>
                    Head Count
                </th>
                <th>
                    Event Notes
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                <tr>
                    <td>
                        @Model.Rows[0].ItemArray[7].ToString();
                    </td>
                    <td>
                        @Model.Rows[0].ItemArray[0].ToString();
                    </td>
                    <td>
                        @Model.Rows[0].ItemArray[1].ToString();
                    </td>
                    <td>
                        @Model.Rows[0].ItemArray[2].ToString();
                    </td>
                    <td>
                        @Model.Rows[0].ItemArray[3].ToString();
                    </td>
                </tr>                
            }
        </tbody>
    </table>

    <h3>Menu Details</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Beverage
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Cost
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                @foreach (var row in Model.Rows)
                {     
                    <tr>
                        <td>
                            @row.ItemArray[9].ToString();
                        </td>
                        <td>
                            @row.ItemArray[10].ToString();
                        </td>
                        <td>
                            @row.ItemArray[11].ToString();
                        </td>
                    </tr>                                    
                }
            }
        </tbody>
    </table>
</div>
<div>    
    <a asp-action="Index">Back to List</a>
</div>
